@model Pkv.View.Models.BlogIntroModel

<div class="card border-light mb-3">
    <div class="card-body">
        <h5 class="card-title">@Model.title</h5>
        <p class="card-text">@Model.intro</p>

        @foreach (var tag in @Model.tags)
        {
            <a href="https://www.praveenkv.com">@string.Format(" {0} ", tag)</a>
        }
        <p class="card-text"><small class="text-muted">Published on @Model.date</small></p>
    </div>
</div>
